@use "@styles/variables" as *;

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;

  th,
  td {
    padding: 20px 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: $color-black;

    &:last-child {
      min-width: 136px;
    }

    &:first-child,
    &:last-child {
      padding: 20px;
    }
  }

  thead {
    tr {
      background-color: $bg-primary-opacity;
    }

    th {
      font-weight: 600;

      &.table-number {
        min-width: 75px !important;
      }

      &.table-play {
        min-width: 62px;
      }

      &:not(:first-child, :last-child) {
        min-width: 325px;
      }
    }
  }

  tbody {
    td {
      padding: 28px 24px;

      &.table-number {
        min-width: 75px !important;
        word-break: break-all;
      }
    }

    tr:nth-child(odd) {
      background-color: $bg-white;
    }

    tr:nth-child(even) {
      background-color: $bg-primary-opacity;

      td:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      td:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

.table-actions {
  display: flex;
  gap: 16px;
}
